
h6{
  font-size: 0.7rem;
  
}

h5{
  font-size: 1rem;
  padding-bottom: 0.1rem;
  
}

.item{
  
    background-color: white;
    border: 0.08rem solid gray;
    border-radius: 8px;
   box-shadow: 1px 1px 1px 1px gray;
    margin: 1%;
    height: 10%;
    width: 30%;
    text-align: center;
    overflow: hidden;

    
 }  

.item a{
  
  text-decoration: none;
  color: darkslategray;
}

.barra{
  background-color: white;
    border: 1px solid black;
    margin: 0.5% 1% 0% 1%;
    width: 30%;
    height: 1%;
    margin-top: -1%;
}


.fondoimg{
  width:100%;
  background-image: url(../assets/prueba.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
}


.bg-verde{
  background-color: rgba(104, 195, 163,0.9); 
}

.bg-negro{
  background-color: rgba(10,10,10,0.9);
}


