
.item{
  
    background-color: white;
    border: 1px solid black;
    margin: 1%;
    width: 30%;
    height: 10%;
    text-align: center;
    padding-top: 2%;
    overflow: hidden;
    font-family: 'Anton', sans-serif;
  
}  




.fondoimg{
  width:100%;
  background-image: url(../assets/prueba.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-blanco{
  background-color: rgba(104, 195, 163,0.9);
  font-family: 'Anton', sans-serif;
  border-radius: 1em;
  
}

.bg-verde{
  background-color: rgba(104, 195, 163,0.9); 
}

.bg-negro{
  background-color: rgba(10,10,10,0.9);
}

