.boton_sulo{
  background-color: white;
  border: 2px solid gray;
  border-radius: 20px;
  box-shadow: 2px 2px 1px 1px gray;
 
  overflow: hidden;
 
  
}

.boton_sulo a{
  color: rgba(0,0,0,1);
  
}

.boton_sulo p{
  font-family: sans-serif;
}




.fondoimg{
  width:100%;
  background-image: url(../assets/prueba.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-blanco{
  background-color: white;
  border-radius: 10px;
  
  
}

.bg-verde{
  background-color: rgba(104, 195, 163,0.9); 
}

.bg-negro{
  background-color: rgba(10,10,10,0.9);
}

