.boton_sulo{
  background-color: rgba(170,170,170, 0.6);
  border: 0.7em solid rgba(0,0,0,1);
  border-radius: 1em;
  font-family: 'Anton', sans-serif;
 
  
}

.boton_sulo a{
  color: rgba(0,0,0,1);
  
}

.boton_sulo p{
  font-family: sans-serif;
  
}

.fondoimg{
  width:100%;
  background-image: url(../assets/prueba.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.bg-blanco{
  background-color: rgba(104, 195, 163,0.9);
  font-family: 'Anton', sans-serif;
  border-radius: 1em;
  
}

.bg-verde{
  background-color: rgba(104, 195, 163,0.9); 
}

.bg-negro{
  background-color: rgba(10,10,10,0.9);
}